[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.4"
autopep8 = "==1.5.7"
djangorestframework = "==3.12.4"
pycodestyle = "==2.7.0"
pytz = "==2021.1"
sqlparse = "==0.4.1"
toml = "==0.10.2"
Django = "==3.2.4"
django-cors-headers = "*"
uwsgi = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
