{% extends 'base.html'%}


{% block content%}

    {% load crispy_forms_tags %}

    <div class="container-sm sm col-6">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token%}
            {{form|crispy }}
            <button type="submit" class='btn my-2 bg-secondary'>Log In</button>
            <input type="hidden" name="next" value="{% url next %}">
            <input type="hidden" name="myNext" value="{% url 'lolo'%  }">
            <!-- <input type='' name='myNext' value="{% url 'lolo'%}" class='form-control my-2'> -->
        </form>
    </div> 

{% endblock%}
